* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #1e1e1e;
  color: #fefefe;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.wrapper {
  width: 500px;
  height: 500px;
  display: grid;
  place-items: center;
  text-align: center;
  user-select: none;
  background-color: #181818;
  transition: all 0.1s;
  border-radius: 10px;
  box-shadow: 0px 10px 15px 5px #413131;
}

.wrapper span {
  display: block;
}
